.animation {
  transform: scale(1);
}

.animation:hover {
  transform: scale(1.02);
}

@media (max-width: 480px) {
  img {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .work-description {
    font-size: 12px;
    text-align: left;
  }
}